
.logo {
	padding: 10px;
	float: left;
	width: 200px;
	height: 60px;
}

.modal-header{
    text-align: center;
    padding:35px 50px;
	font-family: sans-serif;
	 background-color: #0d0d0d;
	 color: #361f8c
      }
.modal-body{
	text-align: center;
	padding:40px 50px;

}

.modal-footer{
      background-color: #ffffff;
  }


#btnSignIn{
 	border:none;
 	margin: 15px;
 	font-size: 14px;
 	color: #337ab7;
 	background-color: #0d0d0d;
 }
 #btnSignIn:hover{
 	color: #45cda4

 }

#btnSignUp{
 	border:none;
 	text-align: left;
 	margin: 15px;
 	font-size: 14px;
 	color: #337ab7;
 	background-color: #0d0d0d;
 }
 #btnSignUp:hover{
 	color: #45cda4

 }

 #imgjobseekersignin{
 	width: 90px;
 	height: 100px;
 }

#imgemployersignup{
	width: 90px;
 	height: 100px;
}

#jobseekersignup{
	width: 110px;
 	height: 100px;
}
 

 #btnemployee1{
 	width:50%;
 }

 #btnjobseeker1{
 	width:50%;	
 }

 #btnemployee2{
 	width:50%;
 }

 #btnjobseeker2{
 	width:50%;	
 }

 #btnemployee1:hover{
 	background-color: #33ffbb
 }

 #btnjobseeker1:hover{
 	background-color: #33ffbb;
 }

 #btnemployee2:hover{
 	background-color: #33ffbb
 }

 #btnjobseeker2:hover{
 	background-color: #33ffbb;
 }

 #heading{
 	background-color: #0d0d0d;
	overflow: auto;
	color: #361f8c;
 }

 nav  div ul li a:hover{
	
	color: #45cda4;
}
.image{
	width: 100%;
	height: 400px;
}
.image-container
{
	width: 100%;
	height: auto;
}

.item{
	width: 100%;
	height: 400px;
}
footer{
	width: 100%;
	background-color: black;
}

footer ul li{
	float: right;
	display: inline-block;
	margin-left: 10px;
	padding-top: 5px;
}

footer ul li a{
	text-decoration: none;
	padding: 10px;
	display: block; 
}

.* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 5px;
}

.row {
	margin: 0 -5px;
	padding-top: 20px;
	padding-bottom: 20px;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 1, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #80ffff;
  color: black	;
}

.fa {
	font-size:100px;
}
