.logo {
	padding: 10px;
	float: left;
	width: 200px;
	height: 60px;
}

.modal-header{
    text-align: center;
    background-color: rgb(91, 192, 222); 
    padding:35px 50px;
	font-family: sans-serif; 
      }
.modal-body{
	text-align: center;
	padding:40px 50px;
}

.modal-footer{
      background-color: #f9f9f9;
  }


#btnSignIn{
 	border:none;
 	margin: 15px;
 	font-size: 14px;
 	color: #9d9d9d;
 	background-color: #222222;
 }
 .btn-usertype{
 	

 }