.logo {
	padding: 10px;
	float: left;
	width: 200px;
	height: 60px;
}

.modal-header{
    text-align: center;
    padding:35px 50px;
	font-family: sans-serif;
	 background-color: #45cda4;
      }
.modal-body{
	text-align: center;
	padding:40px 50px;

}

.modal-footer{
      background-color: #45cda4;
  }


#btnSignIn{
 	border:none;
 	margin: 15px;
 	font-size: 14px;
 	color: #337ab7;
 	background-color: #0d0d0d;
 }
 #btnSignIn:hover{
 	color: #45cda4

 }

#btnSignUp{
 	border:none;
 	text-align: left;
 	margin: 15px;
 	font-size: 14px;
 	color: #337ab7;
 	background-color: #0d0d0d;
 }
 #btnSignUp:hover{
 	color: #45cda4

 }

 #imgjobseekersignin{
 	width: 90px;
 	height: 100px;
 }

#imgemployersignup{
	width: 90px;
 	height: 100px;
}

#jobseekersignup{
	width: 110px;
 	height: 100px;
}
 

 #btnemployee{
 	width:50%;
 }

 #btnjobseeker{
 	width:50%;	
 }
 #btnemployee:hover{
 	background-color: #33ffbb

 }

 #btnjobseeker:hover{
 	background-color: #33ffbb;

 }

 #heading{
 	background-color: #0d0d0d;
	overflow: auto;
	color: #361f8c;
 }

 nav  div ul li a:hover{
	
	color: #45cda4;
}