body {
	font-family: 'work sans', sans-serif;
	font-weight: 300;
	margin: 0;
}

.modal-header{
    text-align: center;
    background-color: rgb(91, 192, 222); 
    padding:35px 50px;
	font-family: sans-serif; 
      }
.modal-body{
	text-align: center;
	padding:40px 50px;
}
body {
	font-family: 'work sans', sans-serif;
	font-weight: 300;
	margin: 0;
}


header{
	background-color: black;
	overflow: auto;
}

.container1{
	width: 100%;
	margin: 0 auto;
	height: auto;
}

.container1{
	width: 100%; 
	margin: 0 auto;
	height: auto;
}

nav ul{
	list-style:none;
	padding: 0;
	margin: 0;

}

.logo {
	padding: 10px;
	float: left;
	width: 100px;
	height: auto;
	margin-left: 10px; 
	margin-bottom: 10px;
}

nav ul li{
	float: right;
	display: inline-block;
	margin-left: 10px;
	padding-top: 5px;
}
nav ul li a{
	color: rgb(90, 181, 81);
	text-decoration: none;
	padding: 10px;
	display: block; 
}
.modal-footer {
      background-color: #f9f9f9;
  }


nav ul{
	list-style:none;
	padding: 0;
	margin: 0;
}


.logo {
	padding: 10px;
	float: left;
	width: 150px;
	height: auto;
	margin-left: 10px; 
	margin-bottom: 10px;
}

nav ul li{
	float: right;
	display: inline-block;
	margin-left: 10px;
	padding-top: 5px;
}
nav ul li a{
	color: rgb(90, 181, 81);
	text-decoration: none;
	padding: 10px;
	display: block; 
}

nav ul li a:hover{
	border-bottom: 5px solid rgb(13, 11, 66);
	opacity: 0.7;
}

footer p{
	position: relative;
	bottom: 0px;
	text-align: center;
	background-color: black;
	color: white;
	height: 20px;
}
.image-container
{
	width: 100%;
	height: auto;
}
