
.logo {
	padding: 10px;
	float: left;
	width: 200px;
	height: 60px;
}

.modal-header{
    text-align: center;
    background-color: rgb(91, 192, 222); 
    padding:35px 50px;
	font-family: sans-serif; 
      }
.modal-body{
	text-align: center;
	padding:40px 50px;
}
body {
	font-family: 'work sans', sans-serif;
	font-weight: 300;
	margin: 0;
}

header{
	background-color: black;
	overflow: auto;
}

.container1{
	width: 100%; 
	margin: 0 auto;
	height: auto;
}

nav ul{
	list-style:none;
	padding: 0;
	margin: 0;

}

.logo {
	padding: 10px;
	float: left;
	width: 100px;
	height: auto;
	margin-left: 10px; 
	margin-bottom: 10px;
}

nav ul li{
	float: right;
	display: inline-block;
	margin-left: 10px;
	padding-top: 5px;
}
nav ul li a{
	color: rgb(90, 181, 81);
	text-decoration: none;
	padding: 10px;
	display: block; 
}
.modal-footer {
      background-color: #f9f9f9;
  }

 #btnSignIn{
 	border:none;
 	margin: 15px;
 	font-size: 14px;
 	color: #9d9d9d;
 	background-color: #222222;
 }

 
	



